/* UserProfile.css */

.user-profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.left-side {
  display: flex;
  text-align: center;
  flex: 0.5;
  flex-direction: row;
  align-items: center;
}

.user-photo {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-top: 10px;
  margin-left: 20px;
  background-color: #ff7f7f;
}

.right-side {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.user-leaderboard-card {
  background-color: #ccc8c84f;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  flex-direction: column;
  display: flex;
}

.left-side-content {
  margin-left: 10%;
}

.user-details-card {
  background-color: #ccc8c84f;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  flex-direction: row;
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
}

.bottom-cards {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  width: 80%;
}

.bottom-card {
  flex: 1;
  display: flex; /* Add this property to use flexbox for centering */
  flex-direction: column; /* Set the direction to column to center vertically */
  justify-content: center; /* Vertically center the content */
  background-color: #ccc8c84f;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
